.comments {
    width: 74.5%;
    padding: 8px;
}

.comments-header {
    text-transform: capitalize;
}

.comments-header h2 {
    margin-bottom: 15px;
}

.comment-item {
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-bottom: 0;
    padding: 20px 20px 50px 20px;
    margin-top: 0;
}

.comment-item-img {
    width: 15%;
    float: left;
}

.comment-item-img img {
    width: 100%;
    padding: 0 10px 5px 0;
}

.comment-item-title {
    margin-right: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

.comment-item-time {
    color: var(--graycolor);
    font-size: 12px;
}

.comment-item-link {
    float: right;
    color: var(--maincolor);
    font-size: 13px;
}

.comment-item-desc {
    color: var(--graycolor);
}

.comment-item-diff {
    border: 1px solid var(--maincolor);
    padding: 20px 20px 50px 20px;
    background-color: var(--linkcolor);

}

.brd-bottom {
    border-bottom: 1px solid #EEE;
}

.comment-item.pd-left {
    padding-left: 40px;
    margin-bottom: 50px;
}

